<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/questnet/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="%GITHUB_NUGET_PUBLISH_USERNAME%" />
      <add key="ClearTextPassword" value="%GITHUB_NUGET_PUBLISH_PAT%" />
    </github>
  </packageSourceCredentials>
</configuration>